.albumImage {
  width: 80%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.albumImage-shadow {
  width: 90%;
  position: absolute;
  display: flex;
  z-index: -1;
  top: 40px;
  -webkit-filter: blur(10px);
  filter: blur(20px);
}
.albumImage img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1;
}
